{% load static %}
<footer>
  <!-- Footer Start-->
  <div class="footer-area footer-padding">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
          <div class="single-footer-caption mb-50">
            <div class="single-footer-caption mb-30">
              <!-- logo -->
              <div class="footer-logo">
                <a href="{% url 'index' %}">
                  ><img src="{% static 'img/logo/logo2_footer.png' %}" alt=""
                /></a>
              </div>
              <div class="footer-tittle">
                <div class="footer-pera">
                  <p>{{ footer_text.company_slogan }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>{{ footer_text.quick_links_title }}</h4>
              <ul>
                <li><a href="{% url 'about' %}">{{ footer_text.quick_links.about }}</a></li>
                <li><a href="{% url 'contact' %}">{{ footer_text.quick_links.contact }}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>{{ footer_text.support_title }}</h4>
              <ul>
                <li>
                  <a href="{% url 'contact' %}">{{ footer_text.support_links.faq }}</a>
                </li>
                <li><a href="{% url 'contact' %}">{{ footer_text.support_links.terms }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer bottom -->
      <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-7">
          <div class="footer-copy-right">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="ti-heart" aria-hidden="true"></i> by
              <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5">
          <div class="footer-copy-right f-right">
            <!-- social -->
            <div class="footer-social">
              {% if shop_contact.twitter %}
                  <a href="{{ shop_contact.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
              {% endif %}
              {% if shop_contact.facebook %}
                  <a href="{{ shop_contact.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
              {% endif %}
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>
