{% extends 'base/base.html' %} 
{% load static %} 
{% block content %}
<!-- slider Area Start-->
<div class="slider-area">
  <!-- Mobile Menu -->
  <div
    class="single-slider slider-height2 d-flex align-items-center"
    data-background="{% static 'img/hero/category.jpg' %}"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>{{ about_text.page_title }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!-- product list part start-->
<section class="about_us padding_top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="about_us_content">
          <h5>{{ about_text.mission.title }}</h5>
          <h3>{{ about_text.mission.description }}</h3>
          <div class="about_us_video">
            <img
              src="{% static 'img/about_us_video.jpg' %}"
              alt="#"
              class="img-fluid"
            />
            <a class="about_video_icon popup-youtube" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product list part end-->

<!-- feature part here -->
<section class="feature_part section_padding">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <div class="feature_part_tittle">
          <h3>{{ about_text.feature.title }}</h3>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="feature_part_content">
          <p>{{ about_text.feature.description }}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="{% static 'img/icon/feature_icon_1.svg' %}" alt="#" />
          <h4>{{ about_text.feature.items.credit_card }}</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="{% static 'img/icon/feature_icon_2.svg' %}" alt="#" />
          <h4>{{ about_text.feature.items.online_order }}</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="{% static 'img/icon/feature_icon_3.svg' %}" alt="#" />
          <h4>{{ about_text.feature.items.free_delivery }}</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="{% static 'img/icon/feature_icon_4.svg' %}" alt="#" />
          <h4>{{ about_text.feature.items.gift }}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature part end -->

<!-- client review part here -->
<section class="client_review">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="client_review_slider owl-carousel">
          {% for review in reviews %}
          <div class="single_client_review">
            <div class="client_img">
              <img src="{{ review.client_photo.url }}" alt="{{ review.client_name }}" />
            </div>
            <p>"{{ review.review_text }}"</p>
            <h5>- {{ review.client_name }}</h5>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- client review part end -->

<!-- subscribe part here -->
<section class="subscribe_part section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="subscribe_part_content">
          <h2>{{ email_sub_text_1_var2 }}</h2>
          <p>{{ email_sub_text_2_var2 }}</p>
          <div class="subscribe_form">
            <input type="email" id="email-input" name="email" placeholder="{{ email_sub_form_placeholder }}" />
            <a href="#" class="btn_1" id="subscribe-button">{{ email_sub_button_text }}</a>
          </div>
          <p id="subscription-message" style="color: red; margin-top: 10px;"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- subscribe part end -->
{% endblock content %}
