{% extends 'base/base.html' %} {% load static %} {% block content %}
<!-- slider Area Start-->
<div class="slider-area">
  <!-- Mobile Menu -->
  <div
    class="single-slider slider-height2 d-flex align-items-center"
    data-background="{% static 'img/hero/category.jpg' %}"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>{{ checkout_text.page_title }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!--================Checkout Area =================-->
<section class="checkout_area section_padding">
  <div class="container">
    <div class="billing_details">
      <div class="row">
        <div class="col-lg-4">
          <div class="order_box">
            <div class="col-12 d-flex justify-content-center">
              <h2>{{ checkout_text.order_summary.title }}</h2>
            </div>
            <ul class="list">
              <li>
                <a href="#">
                  {{ checkout_text.order_summary.headers.product }}
                  <span>{{ checkout_text.order_summary.headers.total }}</span>
                </a>
              </li>
              {% for item in cart %}
              <li>
                <a href="#">
                  {{ item.product.name }}
                  <span class="middle">x {{ item.quantity }}</span>
                  <span class="last">{{ item.product.currency.symbol }}{{ item.total_price }}</span>
                </a>
              </li>
              {% endfor %}
            </ul>
            <ul class="list list_2">
              <li>
                <a href="#">
                  {{ checkout_text.order_summary.summary.subtotal }}
                  <span>{{ cart.get_cart_currency.symbol }}{{ cart.get_total_price }}</span>
                </a>
              </li>
              <li>
                <a href="#">
                  {{ checkout_text.order_summary.summary.shipping }}
                  <span>{{ checkout_text.order_summary.summary.shipping_cost }}</span>
                </a>
              </li>
              <li>
                <a href="#">
                  {{ checkout_text.order_summary.summary.total }}
                  <span>{{ cart.get_cart_currency.symbol }}{{ cart.get_total_price }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="col-12 d-flex justify-content-center">
            <h3 style="margin-top: 30px;">{{ checkout_text.shipping_details.title }}</h3>
          </div>
          <form
            class="row contact_form"
            action="{% url 'cart:checkout' %}"
            method="post"
            novalidate="novalidate"
          >
            {% csrf_token %}
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="first" name="first_name" placeholder="{{ checkout_text.shipping_details.form.first_name.placeholder }}" required />
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="last" name="last_name" placeholder="{{ checkout_text.shipping_details.form.last_name.placeholder }}" required />
            </div>
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                id="company"
                name="company"
                placeholder="{{ checkout_text.shipping_details.form.company.placeholder }}"
              />
            </div>
            <div class="col-md-6 form-group">
              <input
                type="text"
                class="form-control"
                id="number"
                name="phone"
                placeholder="{{ checkout_text.shipping_details.form.phone.placeholder }}"
                required
              />
            </div>
            <div class="col-md-6 form-group">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="{{ checkout_text.shipping_details.form.email.placeholder }}"
              />
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="country" name="country" placeholder="{{ checkout_text.shipping_details.form.country.placeholder }}" required />
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="add1" name="address_line_1" placeholder="{{ checkout_text.shipping_details.form.address_1.placeholder }}" required />
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="add2" name="address_line_2" placeholder="{{ checkout_text.shipping_details.form.address_2.placeholder }}" />
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="city" name="city" placeholder="{{ checkout_text.shipping_details.form.city.placeholder }}" required />
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="zip" name="zip_code" placeholder="{{ checkout_text.shipping_details.form.zip.placeholder }}" required />
            </div>
            <div class="col-md-12 form-group">
              <textarea class="form-control" name="order_notes" id="message" rows="1" placeholder="{{ checkout_text.shipping_details.form.notes.placeholder }}"></textarea>
            </div>
            {% if form.errors %}
              <div class="alert alert-danger">
                <ul>
                  {% for field in form %}
                    {% for error in field.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            <div class="col-12 d-flex justify-content-center">
              <button type="submit" class="btn_3">{{ checkout_text.shipping_details.button }}</button>
          </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</section>
<!--================End Checkout Area =================-->
{% endblock content %}
