{% extends 'base/base.html' %} {% load static %} {% block content %}
<!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img/hero/category.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Card List</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->

<!--================Cart Area =================-->
<section class="cart_area section_padding">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col" class="centered-header">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart %}
            <tr>
              <td>
                <div class="media">
                  <div class="d-flex">
                    <!-- Display the first image of the product -->
                    <img src="{{ item.product.images.first.image.url }}" alt="{{ item.product.name }}" class="img-fluid" />
                  </div>
                  <div class="media-body">
                    <p>{{ item.product.name }}</p>
                  </div>
                </div>
              </td>
              <td><h5>${{ item.price }}</h5></td>
              <td>
                <form method="post" action="{% url 'cart:cart_add' item.product.id %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="20" />
                  </div>
                  <input type="hidden" name="override" value="True" />
                  <div class="cart-buttons">
                    <button type="submit" class="btn_4">Update</button> 
                    <button type="submit" formaction="{% url 'cart:cart_remove' item.product.id %}" class="btn_4">Remove</button> 
                  </div>
                </form>
              </td>
              <td><h5>${{ item.total_price }}</h5></td>
              <td></td>
            </tr>
            {% endfor %}
            <tr class="bottom_button">
              <td>
                <a class="btn_1" href="{% url 'cart:cart_detail' %}">Update Cart</a>
              </td>
              <td></td>
              <td></td>
              <td>
                <div class="cupon_text float-right">
                  <form method="post" action="{% url 'cart:cart_clear' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn_1">Clear All</button>
                  </form>
                </div>
              </td>
              <td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <h5>Subtotal</h5>
              </td>
              <td><h5>${{ cart.get_total_price }}</h5></td>
            </tr>
          </tbody>
        </table>

        <div class="checkout_btn_inner float-right">
          <a class="btn_1" href="{% url 'product_list' %}">Continue Shopping</a>
          <a class="btn_1 checkout_btn_1" href="{% url 'checkout' %}">Proceed to checkout</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Cart Area =================-->
{% endblock content %}
