{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>eCommerce HTML-5 Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="site.webmanifest" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'img/favicon.ico' %}"
    />
    <!--
    CSS
    here
    -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img src="{% static 'img/logo/logo.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader Start -->

    {% include 'base/includes/header.html' %} 

    {% block content %} 
    {% endblock %}

    

    {% include 'base/includes/footer.html' %}

    <!-- JS here -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const checkoutButton = document.getElementById("checkoutButton");
        const isCartEmpty = "{{ is_empty }}" === "True";
        
        if (isCartEmpty) {
          checkoutButton.addEventListener("click", function(event) {
            event.preventDefault(); 
            alert("Your cart is empty, forgot to add products?");
          });
        }
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        function toggleMobileOnly() {
            const mobileOnlyElement = document.querySelector(".mobile-only");
            if (window.innerWidth <= 992) {
                mobileOnlyElement.style.display = "block";
            } else {
                mobileOnlyElement.style.display = "none";
            }
        }

        // Проверка видимости при загрузке и при изменении размера окна
        toggleMobileOnly();
        window.addEventListener("resize", toggleMobileOnly);
    });
    </script>

    <script>
      function limitQuantity(input) {
        if (input.value > 20) {
          input.value = 20; // Устанавливаем максимальное значение 20
        } else if (input.value < 1) {
          input.value = 1; // Устанавливаем минимальное значение 1
        }
      }
    </script>

    <script>
      document.getElementById('load-more-btn').addEventListener('click', function() {
        const button = this;
        const nextPage = button.getAttribute('data-next-page');
    
        fetch(`/load-more-products/?page=${nextPage}`)
          .then(response => response.json())
          .then(data => {
            const productContainer = document.getElementById('product-container');
    
            data.products.forEach(product => {
              const productHTML = `
                <div class="col-lg-4 col-sm-5 single-product">
                  <div class="single_product_item">
                    <img src="${product.image_url}" alt="${product.name}" class="img-fluid"/>
                    <h3>
                      <a href="/single-product/${product.slug}">${product.name}</a>
                    </h3>
                    <p>
                      ${product.is_discounted ? `<span style="text-decoration: line-through; color: red">$${product.price}</span> $${product.discount_price}` : `$${product.price}`}
                    </p>
                  </div>
                </div>
              `;
              productContainer.insertAdjacentHTML('beforeend', productHTML);
            });
    
            if (data.has_next) {
              button.setAttribute('data-next-page', parseInt(nextPage) + 1);
            } else {
              button.style.display = 'none';
            }
          });
      });
    </script>
    
    <script>
      document.getElementById("subscribe-button").addEventListener("click", function(event) {
          event.preventDefault();
      
          const emailInput = document.getElementById("email-input");
          const email = emailInput.value.trim();
          const messageElement = document.getElementById("subscription-message");
      
          messageElement.textContent = "";
          fetch("{% url 'subscribe' %}", {
              method: "POST",
              headers: {
                  "Content-Type": "application/x-www-form-urlencoded",
                  "X-CSRFToken": "{{ csrf_token }}"
              },
              body: new URLSearchParams({
                  "email": email
              })
          })
          .then(response => response.json())
          .then(data => {
              if (data.success) {
                  messageElement.style.color = "green";
                  emailInput.value = "";
              } else {
                  messageElement.style.color = "red";
              }
              messageElement.textContent = data.message;
          })
          .catch(error => {
              messageElement.style.color = "red";
              messageElement.textContent = "An error occurred. Please try again later.";
              console.error("Error:", error);
          });
      });
      </script>

<script>
  document.getElementById('send-button').addEventListener('click', function (e) {
    e.preventDefault();

    let form = document.getElementById('contactForm');
    let formData = new FormData(form);
    let url = form.getAttribute('action');
    let messageDiv = document.getElementById('contact-message');

    fetch(url, {
      method: 'POST',
      body: formData,
      headers: {
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRFToken': formData.get('csrfmiddlewaretoken')
      }
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        messageDiv.innerHTML = `<p style="color: green;">${data.message}</p>`;
        form.reset();
      } else {
        messageDiv.innerHTML = `<p style="color: red;">${data.message}</p>`;
      }
    })
    .catch(error => {
      messageDiv.innerHTML = `<p style="color: red;">Something went wrong. Please try again.</p>`;
      console.error('Error:', error);
    });
  });
</script>

    <!-- All JS Custom Plugins Link Here here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/animated.headline.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
