{% extends 'base/base.html' %} {% load static %} {% block content %}
<!-- slider Area Start-->
<div class="slider-area">
  <!-- Mobile Menu -->
  <div
    class="single-slider slider-height2 d-flex align-items-center"
    data-background="{% static 'img/hero/category.jpg' %}"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Registration</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!--================registration_part Area =================-->
<section class="login_part section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="login_part_form">
          <div class="login_part_form_iner">
            <h3>
              Welcome! <br />
              Please fill the form to register
            </h3>
            <form action="{% url 'registration' %}" method="post" class="row contact_form">
              {% csrf_token %}
              
              <!-- form errors -->
              {% if form.errors or form.non_field_errors %}
              <div class="alert alert-danger mx-auto text-center">
                <ul>
                  {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                  {% for field in form %}
                    {% for error in field.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  {% endfor %}
                </ul>
              </div>
              {% endif %}

              <div class="col-md-12 form-group p_star">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  value="{{ form.email.value|default_if_none:'' }}"
                  placeholder="E-mail"
                />
              </div>
              <div class="col-md-12 form-group p_star">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  value="{{ form.password.value|default_if_none:'' }}"
                  placeholder="Password"
                />
              </div>
              <div class="col-md-12 form-group p_star">
                <input
                  type="password"
                  class="form-control"
                  id="confirm_password"
                  name="confirm_password"
                  value="{{ form.confirm_password.value|default_if_none:'' }}"
                  placeholder="Repeat password"
                />
              </div>
              <div class="col-md-12 form-group">
                <button type="submit" value="submit" class="btn_3">register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================registration_part end =================-->
{% endblock content %}
