{% extends 'base/base.html' %} {% load static %} {% block content %}
<!-- slider Area Start-->
<div class="slider-area">
  <!-- Mobile Menu -->
  <div
    class="single-slider slider-height2 d-flex align-items-center"
    data-background="{% static 'img/hero/category.jpg' %}"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>{{ logout_text.page_title }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<section class="user-area">
  <div class="user-area-content">
    <h3>{{ logout_text.content.title }}</h3>
    <h5>{{ logout_text.content.subtitle }}</h5>
    <h5>{{ logout_text.content.what_next }}</h5> 
    <p>
      <a href="{% url 'login' %}" class="login-btn">{{ logout_text.content.login_button }}</a>
    </p>
  </div>
</section>

{% endblock content %}
