{% extends 'base/base.html' %} {% load static %} {% block content %}
<!-- slider Area Start-->
<div class="slider-area">
  <!-- Mobile Menu -->
  <div
    class="single-slider slider-height2 d-flex align-items-center"
    data-background="{% static 'img/hero/category.jpg' %}"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Your blank account</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<section class="user-area">
  <div class="user-area-content">
    <h3>Congratulations, you are logged in now!</h3>
    <h5>Unfortunately, I had no HTML template for user member area, so this is just a text.</h5>
    <h5>What can you do?</h5> 
    <p>
      <a href="{% url 'logout' %}" class="logout-btn">LOGOUT</a>
    </p>
  </div>
</section>

{% endblock content %}
